body .login-page {
    background-image: url(/dist/img/login_page3.jpg) !important;
    background-size: cover !important;
}

div.login-logo a {
    color: #fff !important;
}

.login-box-body {
    -webkit-box-shadow: -1px 0px 24px 3px #d2d6de;
    -moz-box-shadow: -1px 0px 24px 3px #d2d6de;
    box-shadow: -1px 0px 24px 3px #d2d6de;
}
#w0 > .container {
	width: 100% !important;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    color: #fff;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

img.country-box {
    width:100px !important;
}

.btn-country-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 101px;
    width: 60px;
    padding: 10px;
    border: none;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

h3.widget-user-username, h5.widget-user-desc {
    margin-left: 136px !important;
}

h5.widget-user-desc {
    color: #999;
}

.btn-export {
    margin-right: 5px;
}

.dt-buttons {
    float: left;
}

.dt-buttons::before {
    content: "Export options: ";
}

.pagination {
    border-radius:0px !important;
}

img.dt.img-circle {
    max-width: 50px !important;
}

#horizontal-btns {
    margin-bottom: 20px;
}

.summary-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 7px;
}

.spacing-left-icon {
    margin-right:12px;
}

.thumb-img-details {
    max-width: 60px;
    margin-right: 5px;
    border-radius: 6px;
}

.btn-app-album {
    margin-right: 3px;
}

.thumb-img-album {
    max-width: 15%;
}

.thumb-img-album:hover {
    opacity:0.7;
}

.btn-group-vertical>a {
    padding: 3px;
    width: 30px;
}

.btn {
    margin-top:2px !important;
}



/* PANEL CONTROL*/
.table-control {
    width: 100%;
    min-width:320px;
}

.btn-control {
    width: 46px;
    height: 46px;
    padding-top: 5px;
    margin:5px;
    z-index: 21;
}

.input-control {
   width: 45px !important;
   vertical-align: middle !important;
}

.input-align-center {
    width: 100%;
    text-align: center;
}

#move-z-input-dn, #move-z-input-up {
    margin-left: 5px;
}

.videostreaming {
    width: 480px;
    height: 320px;
}

.top-btns {
    margin-bottom: 40px;
}

.top-btns > .btn-danger {
    margin-left: 5px;
}

.fa-move-right-icon {
    margin-left: 3px;
}

.move-top-btn {
    height: 60px;
}

.move-top-btn > .btn, .temp-top-btn > .btn {
    margin:5px;
}

.temp-top-btn > .btn {
    min-width: 80px;
    font-weight: bold;
}
.fa-exclamation-triangle  {
    color: yellow;
    margin-right: 10px;
}

.col-md-6 {
    min-width: 525px;
}

/*box-video-streaming {
    width: 480px;
    height: 320px;
}*/
.videostreaming {
    width: 480px;
    height: 320px;
    border: 3px solid #ccc;
}

.send-file-btn {
    position: absolute;
    left: 10px;
    text-align: center; 
}

.send-file-btn span {
    color: #fff;
    position: relative;
    display: block;
    top: calc(50% - 12px);
    font-size: 16px;
    font-weight: 600;
}

.lock {
    position: absolute;
    z-index: 50;
    background-color: #333;
    width: 100%;
    height: 1024px;
    opacity: 0.95;
    left: 0;
    top: 0;
}

.lock div {
    z-index: 9999999;
    position: absolute;
    color: #fff;
    width: 320px;
    height: 120px;
    left: calc(50% - 60px);
    top: calc(50% - 300px);
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}

#w0 > .container {
    display: none;
}

.fas, .far {
    padding-right:5px !important;
}

.fa {
    padding-right:2px !important;
}

.fa-pulse {
    padding: 0px !important;
}

#error-connection  span {
    font-size: 16px;
    display: block;
    margin-top: -34px;
    text-align:left;
}

#causes-error-connection {
 width:400px;   
 padding-left:18px;
}

#causes-error-connection li {
    margin: 0;
    padding: 0;
    line-height: 16px;
    margin-bottom: 6px;
}

.skin-purple .wrapper {
    overflow: hidden;
}

.media-form .btn {
    margin-top: 0px !important;
}

#panelLock div {
    text-align: center;
}

#panelLock p {
    text-align: center;
    font-size: 22px;
}

.lock-icon {
    font-size: 140px;
    margin-top:30px;
}

#panel-control {
    display:none;
}

.close-message {
    float: right;
    font-size: 20px;
    margin-right: -16px;
}

.red-exclamation-mark {
    position: fixed;
    bottom: 80px;
    right: 40px;
    font-size: 120px;
    z-index: 999;
}

.red-exclamation-mark > i {
}